body {
  padding-top: 60px;
  color: #364a4d;
}

ul, li {
  list-style-type: none;
}

.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
}

#logo {
  float: left;
  font-size: 27px;
  color: #fff;
  padding-top: 12px;
  letter-spacing: -1px;
  font-weight: bold;
}

.header-right {
  float: right;
  margin: 0 auto;
}



.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
}
